<div class="px-4 sm:px-6 lg:px-8 h-[50vh] overflow-y-scroll">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Top Songs</h1>
      <p class="mt-2 text-sm text-gray-700">
        A breakdown of your most listened-to tracks and artists over the years.
      </p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none flex">
      <div>
        <select
          (change)="filterBy($event)"
          id="location"
          name="location"
          class="block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6"
        >
          <option selected>All time</option>
          @for (year of years$ | async; track year){
          <option>{{ year }}</option>
          }
        </select>
      </div>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th
                scope="col"
                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"
              >
                Song
              </th>
              <th
                scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
              >
                Artist
              </th>
              <th
                scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
              >
                Listens
              </th>
              @if (dataSource$ === entries$){
              <th
                scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
              >
                Discovered
              </th>
              <th
                scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
              >
                Last played
              </th>
              }
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            @if (!(dataSource$ | async)?.length){
            <tr>
              <td
                class="whitespace-nowrap py-2 pl-4 pr-3 text-xs lg:text-sm font-medium text-gray-900 sm:pl-0"
                colspan="4"
              >
                Preparing data...
              </td>
            }
            @for (entry of dataSource$ | async ; track entry.id){
            <tr>
              <td
                class="whitespace-nowrap py-2 pl-4 pr-3 text-xs lg:text-sm font-medium text-gray-900 sm:pl-0 max-w-[12rem] lg:max-w-[20rem] overflow-ellipsis overflow-hidden"
              >
                @if (entry?.titleUrl){
                <a
                  href="{{ entry?.titleUrl }}"
                  target="_blank"
                  class="text-indigo-600 hover:text-indigo-900"
                >
                  {{ entry?.metadata?.snippet?.title }}
                </a>
                } @else {
                {{ entry?.metadata?.snippet?.title }}
                }
              </td>
              <td
                class="whitespace-nowrap px-3 py-4 text-xs lg:text-sm text-gray-500 max-w-[7rem] lg:max-w-[20rem] overflow-ellipsis overflow-hidden"
              >
                {{entry?.metadata?.snippet?.tags?.[0]}}
              </td>
              <td
                class="whitespace-nowrap px-3 py-4 text-xs lg:text-sm text-gray-500 max-w-[2.5rem] lg:max-w-[5rem] overflow-ellipsis overflow-hidden"
              >
                {{ entry?.occurrenceCount }}
              </td>
              @if (dataSource$ === entries$){

              <td
                *ngIf="!!entry?.watchDatestamps?.length"
                class="whitespace-nowrap px-3 py-4 text-xs lg:text-sm text-gray-500 max-w-[5rem] overflow-ellipsis overflow-hidden"
              >
                {{entry?.watchDatestamps?.[entry?.watchDatestamps?.length! - 1] | date: 'mediumDate'}}
              </td>
              <td
                class="whitespace-nowrap px-3 py-4 text-xs lg:text-sm text-gray-500 max-w-[5rem] overflow-ellipsis overflow-hidden"
              >
                {{entry?.watchDatestamps?.[0] | date: 'mediumDate'}}
              </td>
              }
            </tr>

            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
